main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.bluebox {
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    height: 70px;
    width: 600px;
}

.smallblue {
    width: 40px;
    height: 40px;
    background-color: blue;
}

.purplebox {
    border-style: solid;
    border-color: blue;
    background-color: red;
    border-width: 2px;
    height: 70px;
    width: 600px;
}

.smallpurple {
    width: 40px;
    height: 40px;
    background-color: purple;
}